In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
import sys
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import os 
dir_path = os.path.dirname(os.path.realpath(__file__))
print()
import os
for dirname, _, filenames in os.walk('/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
f = open("/kaggle/input/house-prices-advanced-regression-techniques/data_description.txt", "r")
print(f.read())

In [ ]:
train_data=pd.read_csv("/kaggle/input/house-prices-advanced-regression-techniques/train.csv")
test_data=pd.read_csv("/kaggle/input/house-prices-advanced-regression-techniques/test.csv")
frames = [test_data, train_data]
data = pd.concat(frames)
data

# Checking null values in Dataset

1. Using Using Pandas

In [ ]:
fig, axs = plt.subplots(ncols=2,figsize=(20,10),sharex=False,sharey=False)
sns.heatmap(test_data.isnull(),ax=axs[0])
sns.heatmap(train_data.isnull(),ax=axs[1])
axs[0].set_title('test_data')
axs[1].set_title('train_data')

2. Using Using Pandas

### checking list of columns if it contains null value

In [ ]:
null_columns=data.columns[data.isnull().any()]
null_columns

### checking counts of null value in each column

In [ ]:
null_columns=data.columns[data.isnull().any()]
data[null_columns].isnull().sum()

## Calculating % of null value with respect to column

In [ ]:
1/2919

In [ ]:
feature_with_nan_values=[feature for feature in data.columns if data[feature].isnull().sum()>=1]#
#you can try 
#feature_with_nan_values= data.columns[data.isnull().any()]
for feature in feature_with_nan_values:
    print(feature,"",np.round(data[feature].isnull().mean(),5),"% null values")

### checking which row has null value
#### in above code MSZoning has 4 null value ,what if we need to find which Rows contains null value

In [ ]:
data[data["MSZoning"].isnull()]

### Fitering out nullcolumns and rows where MSZoning is null

In [ ]:
data[data["MSZoning"].isnull()][null_columns]

### Filter_null_dataframe contains only columns where data is null

In [ ]:
filter_null_dataframe=data[data.isnull().any(axis=1)][null_columns]
filter_null_dataframe

In [ ]:
data

## Data Types in Statistics
### Categorical Data (Nominal, Ordinal)
### Numerical Data (Discrete, Continuous, Interval, Ratio)

### check which columns has numerical value

In [ ]:
 
data.select_dtypes(include=["number","bool"]).columns

> check which column s has int and bool "values"

In [ ]:
data.select_dtypes(include=["number","bool"]).columns

In [ ]:
data_with_string_values= data.select_dtypes(exclude=["number","bool"])
data_with_string_values

In [ ]:
data_with_int_values=data.select_dtypes(include=["number","bool"])
data_with_int_values

In [ ]:
data_with_string_values

In [ ]:
data_with_string_values
null_values=data_with_string_values.columns[data_with_string_values.isnull().any()]
not_null_values=[item for item in data_with_string_values.columns if item not in null_values]

In [ ]:
data_with_string_values[null_values]

In [ ]:
data_with_string_values[not_null_values]

## Handling NULL Values for Categorical variable

### IN ML we can deal with null values in following ways
* Delete  values : which Can cause huge loss of data
* Assume Null values as new category
* Imputation:- replace with most occuring
* medianClassification by Ml algorithm    
* Clustering by unsupervised learing technique.

In [ ]:
null_dataFrame=data_with_string_values[null_values]
null_dataFrame

to check where nan values are less than 50 (means number of nan values are less then 50 ),We can impute NAN values in this columns with Most frequent Values in columns

In [ ]:
null_dataFrame.isnull().sum()

In [ ]:
columns_NaN_less_then_50=[feature for feature in null_dataFrame.columns if null_dataFrame[feature].isnull().sum()<50]
columns_NaN_less_then_50

In [ ]:
def replace_with_most_Frequent(DataFrame,ColumnName):
    '''
    1.) This function will replace NaN with Frequent ones
    '''
    print(DataFrame[ColumnName].isnull().sum(),"null value present in"+ColumnName)
    column_index=DataFrame.columns.get_loc(ColumnName)
    DataFrame.iloc[:,column_index] = DataFrame.iloc[:,column_index].fillna(DataFrame.iloc[:,column_index].value_counts().index[0])

['MSZoning',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'Electrical',
 'KitchenQual',
 'Functional',
 'SaleType'] are columns where nan values are less then  50

In [ ]:
for i in columns_NaN_less_then_50:
    print("processing column",i)
    replace_with_most_Frequent(null_dataFrame,i)

null_dataFrame.isnull().sum()

1. Since Alley Column has more than 90% value NaN we can discard it, like wise Nan values in columns is more then 90% we can discard it

In [ ]:
columns_NaN_is_more_then_90=[feature for feature in null_dataFrame.columns if (null_dataFrame[feature].isnull().sum()/null_dataFrame.shape[0])*100>90]
columns_NaN_is_more_then_90

In [ ]:
def delete_column_from_dataframe(DataFrame,ColumnName):
    '''
      1)This Function deletes Column from DataFrame
    '''
    print((DataFrame[ColumnName].isnull().sum()/DataFrame.shape[0])*100," % null value present in function")
    del DataFrame[ColumnName]

In [ ]:
for i in columns_NaN_is_more_then_90:
    print("processing column",i)
    delete_column_from_dataframe(null_dataFrame,i)
null_dataFrame

lets Assume where Null values are less than 250 we can Consider as a new categories (means we make null values as category "UN"

In [ ]:
columns_NaN_less_then_250=[feature for feature in null_dataFrame.columns if (null_dataFrame[feature].isnull().sum()<250 and null_dataFrame[feature].isnull().sum()!=0)]
columns_NaN_less_then_250

In [ ]:
null_dataFrame[columns_NaN_less_then_250].isnull().sum()

In [ ]:
def  replace_nan_create_category(DataFrame,ColumnName):
     '''
      1)This Function makes Nan A new Category 
     '''
     print(DataFrame[ColumnName].isnull().sum(),"null value present in Columns")
     column_index=DataFrame.columns.get_loc(ColumnName)
     DataFrame.iloc[:,column_index] = np.where(DataFrame.iloc[:,column_index].isnull(),"UN",DataFrame[ColumnName])
     return DataFrame[ColumnName].value_counts()

In [ ]:
for i in columns_NaN_less_then_250:
    print("processing column",i)
    replace_nan_create_category(null_dataFrame,i)
null_dataFrame

Now we have only two columns remaining with null data

In [ ]:
for i in ["FireplaceQu","Fence"]:
    print(i,null_dataFrame[i].isnull().sum()*100/null_dataFrame.shape[0],"missing values")